.header
    background-color: $red
    height: 10rem

    &__title
        text-shadow: 0 0 10px white

        @media screen and (min-width: 1200px)
            font-size: 5rem

    &__subtitle
        color: white
        text-shadow: 0 0 5px $red, 0 0 10px white
